:root {
    --bg-purple: rgb(232, 206, 255);
    --bg-orange: rgb(255, 161, 46);
    --bg-light: #fff5ff;
    --btn: rgb(116, 69, 255);
    --btnhover: rgb(83, 30, 244);
    --text-dark: #222;
    --text-light: #fff;
    --icon: rgb(244, 232, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom right, var(--bg-purple), var(--bg-orange));
    color: var(--text-dark);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    width: 100vw;
}

header {
    margin-bottom: 80px;
}

h1 {
    text-align: center;
    font-size: 3.2rem;
    margin: 15px;
}

h2 {
    text-align: center;
    font-size: 1.7rem;
    margin: 25px;
}

p {
    text-align: center;
    font-size: 1.6rem;
    max-width: 440px;
    margin-top: 20px;
}

a {
    color: var(--text-dark);
}

i {
    font-size: 180px;
    color: var(--icon);
    z-index: -1;
    position: absolute;
    top: 10px;
}

.container {
    background-color: var(--bg-light);
    border-radius: 40px;
    margin: 50px;
    padding: 40px;
    height: 100vh;
    min-height: 700px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

#name {
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    height: 30px;
    margin-bottom: 40px;
    border: 1px solid var(--text-dark);
}

#q {
    margin-bottom: 10px;
}

label {
    font-family: 'Courier New', Courier, monospace;
}

.play {
    color: var(--text-light);
    font-size: 2.3rem;
    text-decoration: none;
    padding: 10px 157px;
    box-shadow: 5px 5px 20px var(--btn);
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--btn);
    font-family: 'Courier New', Courier, monospace;
}

.play:hover {
    background-color: var(--btnhover);
    box-shadow: 2px 2px 30px var(--btn);
}

.next {
    color: var(--text-light);
    font-size: 1.7rem;
    width: 400px;
    height: 40px;
    border: none;
    margin-top: 50px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 20px var(--btn);
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--btn);
    font-family: 'Courier New', Courier, monospace;
}

.next:hover {
    background-color: var(--btnhover);
    box-shadow: 2px 2px 30px var(--btn);
}

@media (max-width: 550px) {
    #name {
        width: 350px;
        height: 25px;
    }

    .play {
        font-size: 2rem;
        padding: 8px 130px;
        border-radius: 10px;
    }

    .next {
        font-size: 1.5rem;
        width: 330px;
        height: 35px;
    }
}