:root {
    --bg-purple: rgb(232, 206, 255);
    --bg-orange: rgb(255, 161, 46);
    --bg-light: #fff5ff;
    --btn: rgb(116, 69, 255);
    --btnhover: rgb(83, 30, 244);
    --text-dark: #222;
    --text-light: #fff;
    --icon: rgb(244, 232, 255);
    --background: #6aff80;
}

.dark {
    --bg-purple: rgb(36, 19, 114);
    --bg-orange: rgb(73, 5, 74);
    --bg-light: #222;
    --text-dark: #fff;
    --icon: rgb(45, 45, 45);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom right, var(--bg-purple), var(--bg-orange));
    color: var(--text-dark);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    width: 100vw;
    transition: 0.3s ease;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2 {
    text-align: center;
    font-size: 3.2rem;
    margin: 15px;
}

h3 {
    height: 130px;
    text-align: center;
    font-size: 1.5rem;
    margin: 25px;
}

p {
    text-align: center;
    font-size: 1.6rem;
    max-width: 440px;
    margin-top: 20px;
}

a {
    color: var(--text-dark);
}

.fa-battle-net {
    font-size: 180px;
    color: var(--icon);
    z-index: -1;
    position: absolute;
    top: 10px;
}

.fa-moon {
    font-size: 40px;
}

.container {
    background-color: var(--bg-light);
    border-radius: 40px;
    margin: 50px;
    padding: 40px;
    height: 100vh;
    min-height: 740px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.input-container {
    height: 100px;
    align-self: flex-start;
    margin-left: 30px;
    cursor: pointer;
}

.result-play {
    margin-top: 20px;
}

.quiz-container {
    width: 450px;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name {
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    height: 30px;
    margin-bottom: 40px;
    border: 1px solid var(--text-dark);
}

input {
    cursor: pointer;
}

.user-input {
    margin-top: 100px;
}

label {
    font-family: 'Courier New', Courier, monospace;
}

.play {
    color: var(--text-light);
    font-size: 2.3rem;
    text-decoration: none;
    padding: 10px 157px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 20px var(--btn);
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--btn);
    font-family: 'Courier New', Courier, monospace;
    display: block;
}

.play:hover {
    background-color: var(--btnhover);
    box-shadow: 2px 2px 30px var(--btn);
}

.next {
    color: var(--text-light);
    font-size: 1.7rem;
    width: 400px;
    height: 40px;
    border: none;
    margin-bottom: 20px;
    box-shadow: 5px 5px 20px var(--btn);
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--btn);
    font-family: 'Courier New', Courier, monospace;
}

.next:hover {
    background-color: var(--btnhover);
    box-shadow: 2px 2px 30px var(--btn);
}

.toggle-theme {
    font-size: 50px;
    display: block;
    margin: 10px auto;
    cursor: pointer;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    margin-bottom: 20px;
}

@media (max-width: 550px) {

    h1,
    h2 {
        font-size: 2.8rem;
    }

    .quiz-container {
        width: 350px;
    }

    .input-container {
        margin-left: 15px;
    }

    #name {
        width: 330px;
        height: 25px;
    }

    .play {
        font-size: 2rem;
        padding: 8px 130px;
        border-radius: 10px;
    }

    .next {
        font-size: 1.5rem;
        width: 330px;
        height: 35px;
    }
}