:root {
    --bg-purple: rgb(205, 149, 255);
    --bg-orange: rgb(255, 161, 46);
    --bg-light: #fff5ff;
    --btn: rgb(116, 69, 255);
    --btnhover: rgb(83, 30, 244);
    --text-dark: #222;
    --text-light: #fff;
    --icon: rgb(244, 232, 255);
    --background: #6aff80;
}

.dark {
    --bg-purple: rgb(36, 19, 114);
    --bg-orange: rgb(73, 5, 74);
    --bg-light: #222;
    --text-dark: #fff;
    --icon: rgb(45, 45, 45);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom right, var(--bg-purple), var(--bg-orange));
    color: var(--text-dark);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    width: 100vw;
    transition: 0.3s ease;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2 {
    text-align: center;
    font-size: 3.2rem;
    margin: 15px;
    z-index: 2;
}

h3 {
    height: 70px;
    text-align: left;
    font-size: 1.5rem;
    margin: 30px;
}

p {
    text-align: center;
    font-size: 1.6rem;
    max-width: 440px;
    margin-top: 20px;
    z-index: 2;
}

a {
    color: var(--text-dark);
}

.quiz-header {
    font-size: 4.5rem;
}

.fa-battle-net {
    font-size: 180px;
    color: var(--icon);
    z-index: 1;
    position: absolute;
    top: 10px;
}

.fa-moon {
    font-size: 40px;
}

.fa-backward {
    font-size: 15px;
    margin-right: 10px;
}

.container {
    background-color: var(--bg-light);
    border-radius: 40px;
    margin: 50px;
    padding: 40px;
    height: 100vh;
    width: 100vw;
    min-height: 700px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container.result-mode {
    min-height: 800px;
    position: relative;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

.input-container {
    height: 120px;
    align-self: flex-start;
    margin-left: 30px;
    cursor: pointer;
}

.result-play {
    margin-top: 20px;
}

.quiz-container {
    width: 450px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name {
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    height: 30px;
    margin-bottom: 20px;
    border: none;
}

input {
    cursor: pointer;
}

.user-input {
    margin-top: 100px;
}

label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

.btn {
    color: var(--text-light);
    background-color: var(--btn);
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 5px 5px 20px var(--btn);
    cursor: pointer;
}

.play {
    font-size: 2.3rem;
    text-decoration: none;
    padding: 10px 157px;
    margin-bottom: 30px;
    border-radius: 20px;
    display: block;
}

.play:hover {
    background-color: var(--btnhover);
    box-shadow: 2px 2px 30px var(--btn);
}

.next {
    font-size: 1.7rem;
    width: 400px;
    height: 40px;
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
}

.next:hover {
    background-color: var(--btnhover);
    box-shadow: 2px 2px 30px var(--btn);
}

.toggle-theme {
    font-size: 50px;
    display: block;
    margin: 10px auto;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
}

.toggle-theme:hover {
    transform: scale(1.2);
}

.result {
    font-size: 12px;
    margin-left: 20px;
}

.result-row {
    align-self: start;
    padding: 5px;
    border-left: 2px solid var(--btn);
}

.result-row.odd {
    background-color: #ffffff;
}

.dark .result-row.even {
    background-color: #333;
}

.dark .result-row.odd {
    background-color: #2a2a2a;
}

.result-play {
    margin-top: 40px;
}

.vg,
.g,
.ig {
    font-size: 25px;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.vg {
    background-color: rgb(0, 83, 0);
}

.g {
    background-color: rgb(186, 121, 0);
}

.ig {
    background-color: rgb(187, 0, 0);
}

@media (max-width: 550px) {

    h1,
    h2 {
        font-size: 2.8rem;
        margin: 20px;
    }

    h3 {
        height: 110px;
    }

    p {
        font-size: 1.4rem;
    }

    .container {
        max-width: 350px;
        padding: 20px;
        height: 730px;
    }

    .quiz-container {
        width: 340px;
        height: 410px;
    }

    .flex-container {
        height: 170px;
    }

    #home {
        height: 160px;
        margin-bottom: 130px;
    }

    .input-container {
        margin-left: 25px;
    }

    .result-color {
        margin: 0 25px;
    }

    #name {
        width: 290px;
        height: 25px;
    }

    .play {
        font-size: 2rem;
        padding: 8px 110px;
        border-radius: 10px;
    }

    .next {
        font-size: 1.5rem;
        width: 290px;
        height: 35px;
    }
}